// **************************************
// utilities/mixins.scss
// used to create mixins
// **************************************

// Theme Colors

@mixin background($bg) {
  background-color: $bg;
}

// Layout

@mixin padding($tb: 0, $lr: 0) {
  padding: $tb $lr;
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin center($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

// Media Queries

// Flexbox Settings
