// **************************************
// utilities/mixins.scss
// used to create mixins
// **************************************

// Theme Colors

@mixin background($bg) {
  background-color: $bg;
}

// Layout

@mixin padding($tb: 0, $lr: 0) {
  padding: $tb $lr;
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin center($width) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

// Media Queries

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $sm: map-get($breakpoints, 'sm');

  @if $value < $sm {
    @media (max-width: $value) {
      @content;
    }
  }
  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

// Flexbox Settings

@mixin flexbox(
  $disp: null,
  $dir: null,
  $wrap: null,
  $just: null
) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}
