// **************************************
// utilities/_mixins.scss
// used to create mixins
// **************************************

// Theme Colors
@mixin background($bg) {
  background-color: $bg;
}

// Layout
@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin center($width: null) {
  width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin spacing($top: null, $btm) {
  margin-top: $top;
  @content;
  @include mq('sm') {
    margin-top: 0;
    margin-bottom: $btm;
  }
}

// Media Queries
@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  $xs: map-get($breakpoints, 'xs');

  @if $value < $xs {
    @media (max-width: $value) {
      @content;
    }
  }
  @else {
    @media (min-width: $value) {
      @content;
    }
  }
}

// Flexbox Settings
@mixin flexbox(
  $disp: null,
  $dir: null,
  $wrap: null,
  $just: null
) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  @content;
}
