// **************************************
// utilities/_placeholders.scss
// used to create placeholders
// **************************************

// Links
%link {
  color: $primary-color;
  font-weight: $black;
  text-decoration: none;
}

// Images
%img {
  max-width: 100%;
  display: block;
  @include center();
}

// Nav Items
%nav__item {
  @include mq('sm') {
    display: inline-block;
    min-width: 90px;
    margin-right: 20px;
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #777;
    padding: .8em;
    font-size: 1.1em;
    &:hover {
      @include background($secondary-color);
      color: $white;
      @include rounded(4px);
    }
    @include mq('sm') {
      font-size: 1.2em;
      padding: 0.5em;
    }
  }
}

// Buttons
%btn {
  display: block;
  width: 94%;
  font-size: .95em;
  font-weight: $bold;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  margin: 1.6em auto 0;
  border: none;
  @include rounded(4px);
  padding: .9em;
  @include mq('med') {
    display: inline-block;
    width: 170px;
    padding-left: .05em;
    padding-right: .05em;
    margin-bottom: 1.6em;
  }
  @include mq('lg') {
    max-width: 175px;
  }
}

// Grid Columns
%col {
  font-size: .95em;
  font-weight: $bold;
  color: $color-shade;
  padding: 11px 13px;
  border: none;
  @include rounded(4px);
  @include mq('sm') {
    text-align: center;
  }
}
