// **************************************
// utilities/_variables.scss
// used to create global variables
// **************************************

// Colors
$white: #fff;

$primary-color: #51ddfc; // malibu blue
$secondary-color: #58e1c1; // viking green
$secondary-color-lt: lighten($secondary-color, 10%);
$text-color: #999;

$btn-default: $primary-color;
$btn-success: #63cc82; // emerald green
$btn-error: #e4757a; // sunglo red
$btn-warning: #fd7856; // coral orange
$btn-info: #927bc1; // purple mountain's majesty

// Fonts
$base-font-size: 16px;
$primary-font-stack: "Lato", sans-serif;
$secondary-font-stack: "Helvetica Neue", Helvetica, serif;

// Layout


// Breakpoints
$break-s: 480px;
$break-l: 1440px;
