// **********************************************
// _forms.scss
// styles related to the forms
// **********************************************

.form {
  margin-top: 40px;
  @include mq('lg') {
    margin-top: 30px;
    padding-left: 20px;
  }
  > .headline--secondary {
    padding-left: 1em;
  }
  &__label--hidden {
    display: none;
  }
  &__input {
    display: block;
    width: 94%;
    padding: .7em;
    outline: 0;
    border: none;
    border-bottom: 6px solid $secondary-color;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    font-weight: $regular;
  }
  &.btn--default .theme__colors {
    @include mq('lg') {
      display: block;
      width: 100%;
      margin-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
