// **********************************************
// _grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

// main container
.container {
  @include center(90%);
  padding: 0 1.2em 1.4em 1.2em; // 1em previously.
  @include mq('lg') {
    max-width: $max-width;
    padding-top: 1.4em;
  }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 10px;
    @include flexbox($disp: flex, $dir: column);

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('med') {
      @include flexbox($dir: row);
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @media (min-width: 768px) {

          // base stlyes applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    }
  }

  &__col--4 {
    margin-bottom: 30px;
  }

  &__col--8 {
    .card {
      @include padding(0, .5em);
    }
  }

  &__col--12 {
    @include mq('lg') {
      @include flexbox($disp: flex, $just: space-around);
      align-items: center;
    }
    .card {
      margin-top: 60px;
      margin-bottom: 40px;
      @include padding(0, .5em);
      @include mq('lg') {
        padding-right: 20px;
      }
    }
  }
  &__col--3.theme__colors {
    margin-top: 18px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--3.theme__colors + &__col--3.theme__colors {
    margin-top: 6px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--4.theme__colors {
    margin-bottom: 0px;
    @include mq('lg') {
      margin-bottom: 16px;
    }
  }
  &__col--4.theme__colors + &__col--4.theme__colors {
    margin-top: 6px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--5.theme__colors {
    margin-top: 18px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--6.theme__colors + &__col--6.theme__colors {
    margin-top: 6px;
    margin-bottom: 8px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--6.theme__colors {
    @include mq('lg') {
      margin-bottom: 16px;
    }
  }
  &__col--7.theme__colors {
    margin-top: 6px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--7.centered {
    margin-top: 18px;
    @include mq('lg') {
      margin: auto;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
  &__col--8.theme__colors {
    margin-top: 18px;
    margin-bottom: -5px;
    @include mq('lg') {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }
  &__col--12.theme__colors {
    margin-bottom: 8px;
    @include mq('lg') {
      margin-bottom: 16px;
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('med') {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

// loop to style the backgrounds of certain grid cols
.theme__colors.grid__col {
  @each $color in $theme-colors {

    $i: index($theme-colors, $color);
    &--#{$i} {
      @include background($color);
      @extend %col;
    }

  }
}
