// **********************************************
// components/_grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

/* ==============================================
  Grid Styles
================================================ */

// main container
.container {
  @include center(95%);
  padding: 0 1.2em 1.4em 1.2em;
  @include mq('sm') {
    padding-top: 1.4em;
  }
  @include mq('lg') {
    max-width: $max-width;
  }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    // padding: 1em 10px;
    padding: 1em 0;
    @include flexbox($dir: column) {

      // NOTE: replace with media query mixin if aiming for exceeds
      @include mq('sm') {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
      }
    }
    &:nth-of-type(1) {
      @include mq('sm') {
        flex-direction: column;
        align-items: center;
      }
      @include mq('med') {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq('sm') {

          // base styles applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    } // end of for loop

    &--4 {
      margin-bottom: 30px;
    }
    &--8 {
      .card {
        padding: 0 15px;
      }
    }
  } // end of .grid-col selector

  &__col--12 {
    @include mq('med') {
      @include flexbox($just: space-around) {
        align-items: center;
      }
    }
    .card {
      margin-top: 60px;
      margin-bottom: 40px;
      padding: 0 .5em;
      @include mq('sm') {
        padding-right: 20px;
      }
    }
  }
  &__col--3.theme__colors {
    @include spacing(18px, 16px);
    & + & {
      @include spacing(6px, 16px);
    }
  }
  &__col--4.theme__colors {
    margin-bottom: 0px;
    @include mq('sm') {
      margin-bottom: 16px;
    }
    & + & {
      @include spacing(6px, 16px);
    }
  }
  &__col--5.theme__colors {
    @include spacing(18px, 16px);
  }
  &__col--6.theme__colors {
    @include mq('sm') {
      margin-bottom: 16px;
    }
    & + & {
      @include spacing(6px, 16px) {
        margin-bottom: 8px;
      }
    }
  }
  &__col--7.theme__colors {
    @include spacing(6px, 16px);
  }
  &__col--7.centered {
    @include spacing(18px, 20px);
    @include mq('sm') {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__col--8.theme__colors {
    @include spacing(18px, 16px) {
      margin-bottom: -5px;
    }
  }
  &__col--12.theme__colors {
    margin-bottom: 8px;
    @include mq('sm') {
      margin-bottom: 16px;
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('sm') {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

// loop to style the backgrounds of certain grid cols
.theme__colors.grid__col {
  @each $color in $theme-colors {

    $i: index($theme-colors, $color);
    &--#{$i} {
      background: $color;
      @extend %col;
    }

  }
}
