// **********************************************
// components/_grid.scss
// styles related to the grid system and
// main container.
// major grid styles have been added here for you
// but additional styling may be needed
// **********************************************

/* ==============================================
  Grid Styles
================================================ */

// main container
.container {
  width: 95%;
  @extend %centered;
  padding: 0 1.2em 1.4em 1.2em;
  @include mq('sm') {
    padding-top: 1.4em;
  }
  @include mq('med') {
    max-width: $max-width;
  }
}

// grid base class
.grid {

  // .grid__row
  &__row {
    padding: 1em 0;
    @include flexbox($dir: column) {

      // NOTE: replace with media query mixin if aiming for exceeds
      @include mq('sm') {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
      }
      &:first-child { // Navigation row
        @include mq('sm') {
          flex-direction: column;
          align-items: center;
        }
        @include mq('med') {
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    // Loop through the rows 6 to 12 to style them.
    @for $i from 6 through 12 {
      &:nth-of-type(#{$i}) {
        @include mq('med') {
          padding-top: 1.5em;
          padding-bottom: 1.5em;
        }
      }
    }
  }

  // .grid__col
  &__col {

    // create grid columns dynamically
    // loop through each column size
    @for $i from 1 through 12 {

      // concatenate CSS selector, ie when $i = 1,
      // selector would be .grid__col--1
      &--#{$i} {

        // base styles applied to all grid columns
        // NOTE: could be converted to a placeholder, along with margin
        // from the  media query
        margin-top: 10px;
        flex-basis: 100%;

        // NOTE: replace with media query mixin if aiming for exceeds
        @include mq('sm') {

          // base styles applied to all grid columns
          margin-top: 0;

          // make column width a percentage of the column number / total columns
          flex-basis: #{$i / 12 * 100 + "%"} ;
        }
      }
    } // end of for loop

    &--4 {
      margin-bottom: 30px;
    }
    &--8 {
      .card {
        padding: 0 15px;
      }
    }
  } // end of .grid-col selector

  &__col--12 {
    @include mq('med') {
      @include flexbox($just: space-around) {
        align-items: center;
      }
    }
    .card {
      margin-top: 60px;
      margin-bottom: 40px;
      padding: 0 .5em;
      @include mq('sm') {
        padding-right: 20px;
      }
    }
  }
  &__col--7.centered {
    @include mq('sm') {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// targets all elements with classes that begin with grid__col
[class^=grid__col] {
  // grid__col + grid__col, targets two sibling columns
  & + & {

    // NOTE: replace with media query mixin if aiming for exceeds
    @include mq('sm') {

      // add grid gutter
      margin-left: 10px;
    }
  }
}

.theme__colors.grid__col {
  &--4 {
    margin-bottom: 0;
  }
  // loop through the themed-colored grid-cols to style them.
  @each $color in $theme-colors {

    $i: index($theme-colors, $color);
    &--#{$i} {
      background: $color;
      @extend %col;
      @include mq('med') {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

  }
}
