// **********************************************
// components/_images.scss
// styles related to the images
// **********************************************

/* ==============================================
  Image Styles
================================================ */

.img {
  &--logo {
    @extend %img;
    margin-top: 14px;
  }
  &--avatar {
    @extend %img;
    margin-top: 20px;
    margin-bottom: 14px;
  }
  &--frame {
    @extend %img;
    border: 1px solid #ccc;
    padding: 12px;
  }
}
