// **********************************************
// _images.scss
// styles related to the images
// **********************************************

.img--logo {
  display: block;
  margin: 14px auto 0;
}

.img--avatar {
  display: block;
  margin: 20px auto;
}

.img--frame {
  border: 1px solid #ccc;
  padding: 12px;
  max-width: 100%;
  display: block;
  @media (min-width: $break-s) {
    @include center(400px);
  }
}
