// **********************************************
// _navigation.scss
// styles related to the navigation
// **********************************************

.nav {
  margin-top: 45px;
  a {
    display: block;
    text-align: center;
    @include padding(.8em);
    font-size: 1.1em;
    &:hover {
      @include background($secondary-color);
      color: $white;
      @include rounded(4px);
    }
  }
}
