// **********************************************
// components/_navigation.scss
// styles related to the navigation
// **********************************************

/* ==============================================
  Navigation Styles
================================================ */

.nav {
  margin-top: 45px;
  margin-bottom: 0;
  @include mq('sm') {
    margin-top: 24px;
  }
  @include mq('med') {
    @include flexbox($disp: flex, $just: flex-start);
    margin-left: 130px;
  }
  &__item {
    @extend %nav__item;
  }
}
