// **********************************************
// _typography.scss
// styles related to the typography
// **********************************************

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.container {
  font-family: $primary-font-stack;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $text-color;
}

.headline--secondary {
  font-size: 1.15em;
  font-weight: $light;
}

.headline--primary {
  font-weight: $black;
  color: $secondary-color;
  line-height: 1.1;
  margin: -8px 0 0;
  padding: 0 2em .7em .5em;
}

.link {
  color: $primary-color;
  font-weight: $black;
}

.blockquote {
  font-size: 1.65em;
  font-style: italic;
  font-weight: $light;
  line-height: 1.2;
  color: #888;
  border-left: 9px solid $secondary-color;
  @include rounded(4px);
  margin-right: 0;
  margin-left: 1em;
  padding: 0 1.1em 0 .8em;
}
