// **************************************
// base/_base.scss
// Used to create styles for the
// base elements.
// **************************************

/* ==============================================
  Base Styles
================================================ */

// universal element
* {
  box-sizing: border-box;
}

// unordered list elements
ul {
  list-style: none;
  padding: 0;
}

// paragraph elements
p {
  font-size: 1.1em;
  line-height: 1.5;
}
