// **************************************
// base/_base.scss
// Used to create styles for the
// base elements.
// **************************************

// universal element
* {
  box-sizing: border-box;
}

// unordered list elements
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

// paragraph elements
p {

}

// anchor elements

a {
  text-decoration: none;
}
